:root {
    --primary-color: white;
    --secondary-color: rgba(255, 0, 231, 1);
    --tertiary-color: rgba(38, 0, 255, 1);
    --background-color: transparent;
    --input-width: 35em;
    --input-height: 2em;
    --button-width: 10em;
    --button-height: 2em;
    --border-radius: 10px;
    --border-width: 2px;
    --font-size: 15px;
    --label-font-size: 1.2em;
}

.containerLogin,
.containerRegistro {
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    margin-top: 40px;
    width: 35em;
    height: 30em;
    flex-wrap: wrap;
    align-content: center;
    border: var(--border-width) solid var(--primary-color);
    border-radius: var(--border-radius);
    backdrop-filter: blur(10px);
}

.inputsUsuario {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botaoLogar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top: 2em;
}

.containerTudo {
    display: flex;
    justify-content: center;
}

input {
    background-color: var(--background-color);
    color: var(--primary-color);
    border: var(--border-width) solid var(--primary-color);
    width: var(--input-width);
    height: var(--input-height);
}

button {
    width: var(--button-width);
    height: var(--button-height);
    background: linear-gradient(188deg, var(--secondary-color) 30%, var(--tertiary-color) 87%);
    color: var(--primary-color);
    font-size: var(--font-size);
}

label {
    color: var(--primary-color);
    font-size: var(--label-font-size);
}

body {
    background-image: url('wallpaper.jpg');
    background-size: cover;
    background-position: center;
}

.botoesCadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoesCadastro p, .botoesCadastro a {
    color: var(--primary-color);
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: var(--border-width) solid var(--primary-color);
    border-radius: var(--border-radius);
    border-style: dashed;
}