*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141414;
}

.imagemPrincipal{
    width: 100%;
    height: 50em;
} 

header {
    height: 68px;
    display: flex;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #141414;
    box-shadow: -20px 11px 14px 0px rgba(0, 0, 0, 0.5);
}

#logoNetflix {
    width: 150px;
    margin-left: 50px;
}

ul{
    list-style-type: none;
}

#filmePrincipalIMG{
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.tituloPrinciapl {
    color: #fff000;
    font-weight: bold;
    font-size: 4em;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.filmePrincipal{
    width: 100%;
    height: 100%
}

.header_netflix{
    margin: 20px 20px
}

li{
    display: inline;
    margin: 10px 10px;
}

ul a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

ul a:hover {
    color: #666565;
    transition: 1s;
}

.carrossel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carrossel {
    display: flex;
    transition: transform 0.4s ease-in-out;
    padding: 20px 0;
    gap: 15px;
}

.carrossel-item {
    transition: transform 0.3s ease-in-out, flex 0.3s ease-in-out;
    flex: 0 0 200px; /* Tamanho inicial das imagens */
    overflow: hidden;
    position: relative;
    transform-origin: bottom; /* Faz com que a imagem cresça para cima */
}

.carrossel-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Efeito de zoom ao passar o mouse */
.carrossel-item:hover {
    transition-delay: 0.5s; /* Define um atraso de 0.5s antes da ampliação */
    flex: 0 0 400px; /* Aumenta o tamanho do contêiner após o atraso */
}

.carrossel-item:hover img {
    transform: scale(1);
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

#prevBtn1,#prevBtn2 {
    left: 0;
}

#nextBtn1,#nextBtn2 {
    right: 0;
}

h2{
    color: white;
    margin-top: 50px;
}

.assistirFilme {
    background-color: white;
    color: black;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 67%;
    left: 7%;
    transform: translate(-50%, -50%);
    width: 12em;
    height: 5em;
}

.assistirFilme:hover{
    background-color: #DBD8D3;
}

.iconPlay {
    width: 65px;
    height: 60px;
    margin-left: -22px;
}
.textoAssistir{
    font-size: 1.4em;
}

.botaoPlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

