body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carrossel-container {
    position: relative;
    width: 80%;
    max-width: 1000px;
    overflow: hidden;
}

.carrossel {
    display: flex;
    transition: transform 0.4s ease-in-out;
    padding: 20px 0;
    gap: 15px; /* Espaçamento flexível entre as imagens */
}

.carrossel-item {
    transition: transform 0.3s ease-in-out, flex 0.3s ease-in-out;
    flex: 0 0 200px; /* Tamanho inicial das imagens */
    overflow: hidden;
    position: relative;
    transform-origin: bottom; /* Faz com que a imagem cresça para cima */
}

.carrossel-item img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

/* Efeito de zoom ao passar o mouse */
.carrossel-item:hover {
    transition-delay: 0.5s; /* Define um atraso de 0.5s antes da ampliação */
    flex: 0 0 400px; /* Aumenta o tamanho do contêiner após o atraso */
}

/* Remover o zoom da imagem e apenas crescer o contêiner */
.carrossel-item:hover img {
    transform: scale(1); /* Mantém a escala normal da imagem */
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}
