body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.slider{
    margin: 0 auto;
    width: 800px;
    height: 600px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slide{
    width: 20%;
    transition: 2s;
    position: relative;
}

.slide img {
    width: 300px; /* Ajuste a largura conforme necessário */
    height: 165px; /* Ajuste a altura conforme necessário */
}
.slide img:hover{
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.slides input{
    display: none;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    display: flex;
    justify-content: center;
    margin-top: 6em;
}

.manual-btn{
    border: 2px solid #ff0000;  
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 20px;
}

.manual-btn:hover{
    background-color: rgb(255, 255, 255);
}

.btn-manual{
    border: 2px solid #333;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    transition: 1s;
}

.btn-manual:not(:last-child){
    margin-right: 20px;
}

.btn-manual:hover{
    background-color: aqua;
}

#radio1:checked ~ .slides {
    margin-left: 0;
}

#radio2:checked ~ .slides {
    margin-left: calc(-100% * 1);
}

#radio3:checked ~ .slides {
    margin-left: calc(-100% * 2);
}

#radio4:checked ~ .slides {
    margin-left: calc(-100% * 3);
}

#radio5:checked ~ .slides {
    margin-left: calc(-100% * 4);
}
