* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.listaVeiculos {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.listaVeiculos h1 {
    text-align: center;
    margin: 20px 0;
    color: #444;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
    color: #555;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

td img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.acoes {
    display: flex;
    gap: 10px;
}

.botaoAcaoVeiculo {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botaoAcaoVeiculo:hover {
    background-color: #0056b3;
}

.botaoAcaoVeiculo:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.botaoAdicionar{
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 10em;
    
}

.inputPesquisaLista{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50em;
    font-size: 1.2em;
}
.opcoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}